[Unit]
Description=Fossa Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /data/fossa/fossasat1-gs/fossasat1.py -s 11 -f 436.700 -b BW125 --cr CR4_8 -p 8 
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
